---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { getCollection } from "astro:content";

import { slugify } from "@/utilities";
import "@styles/photo.css";
import Tag from "@/components/Tag.astro";

export async function getStaticPaths() {
    const albums = await getCollection("gallery");

    return albums.flatMap((album) =>
        album.data.map((photo) => ({
            params: {
                year: album.id,
                photo: slugify(photo.path),
            },
            props: {
                image: photo.path,
                comment: photo.comment,
                friends: photo.users,
            },
        })),
    );
}

const { image, comment, friends } = Astro.props;
---

<BaseHead />
<Header />

<div class="photo-page">
    <div class="photo-container" transition:animate="slide">
        <img class="photo-full" src={image} />
        <div>
            {
                friends &&
                    friends.length > 0 &&
                    friends.map((friend) => <Tag name={friend} />)
            }
            <div>
                <p>{comment}</p>
            </div>
            <div class="all-photos-container">
                <a class="all-photos" href="/gallery">All Photos →</a>
            </div>
        </div>
    </div>
</div>
<Footer />
