---
import { getCollection } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import PostCard from "@components/PostCard.astro";

import "@styles/pagination.css";
import { config } from "@/site";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead />
    </head>
    <body>
        <Header />
        <main class="post-list">
            {
                posts.slice(0, config.maxPosts).map((post, index) => (
                    <>
                        <PostCard slug={post.id} {...post.data} />
                        {index < config.maxPosts - 1 && <hr />}
                    </>
                ))
            }
        </main>
        <Footer />
    </body>
</html>
